Order allow,deny
Allow from all
Require all granted
RewriteEngine on


RewriteCond %{request_filename} -f

RewriteRule ^(.*) 										$1													[L]
RewriteRule ^(([^/]*)+)?$								index.php?a=$1										[L]
