/* Required height of parents of the Full Page Carousel for proper displaying carousel itself */
@import "./font-awesome.css";
@import "./bootstrap.min.css";
@import "./variable.css";
@import "./dashboard.css";

body, html {
    font-family: var(--font-family-sans-serif);
    font-weight: normal;
    font-kerning: auto;
    font-optical-sizing: auto;
    font-size: 16px;
    font-stretch: 100%;
    line-height: 1.5;
    background: #f4f4f4;
    color: #333;
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    letter-spacing: 1px
}

*::selection {
    color: #fff;
    background: var(--green);
}

a {
    color: #333;
}
a[href]:hover{
    color: var(--green);
}
.font_serif {
    font-family: var(--font-family-serif);
}

.font_sans_serif {
    font-family: var(--font-family-sans-serif);
}

.font_1 {
    font-size: 1em;
}

.font_2 {
    font-size: 1.5em;
}

.font_3 {
    font-size: 2em;
}

.font_4 {
    font-size: 2.5em;
}

.font_5 {
    font-size: 3em;
}

.big-title {
    font-size: 70px;
    font-weight: 900;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.hang {
    position: absolute;
    bottom: 10px;
    right: 15px;
    font-size: 10px;
    color: #fff;
    opacity: .5;
    z-index: 1;
}


.vegas:before {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    content: ' ';
    background: url('../images/ground-logs.jpg');
    background-size: cover;
    opacity: 1;
    z-index: 0;
}

.copyright {
    line-height: 1.4;
    padding: 4px;
    display: block;
    text-align: center;
    color: #a6a6a6
}


p {
    font-weight: 400;
    line-height: 1.5;
    vertical-align: baseline;
    color: currentColor;
    letter-spacing: normal;
}

svg.icon:not(.icon--full-color) path {
    font-size: 14px;
}

.instructors {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    position: relative;
    background: #f6f6f6;
}

.instructors .instructor {
    padding: 5% 7% 2%;
    width: 100%;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    background: #fff;
    border-bottom: 1px solid #e6e6e6;
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 2px 0 rgba(0, 0, 0, .05);
}

.instructors .instructor .i-profile-img {
    height: 90px;
    width: 90px;
    position: relative;
    display: block;
    background: #fff;
    object-position: center;
    object-fit: cover;
    overflow: hidden;
    margin: 5px 5px 10px;
    border-radius: 90px;
}

@media (max-width: 769px) {
    .instructors .instructor .i-profile-img {
        width: 100%;
        border-radius: 2px;
    }

    .instructors .instructor .i-misc {
        padding-left: 10px;
    }

}
.instructors .instructor .i-profile-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s ease;

}

.instructors .instructor .i-profile-img:hover img {
    transform: scale(1.1);
}

.instructors .instructor .i-bio{
    margin-left: 10px;
    /* margin-top: 10px; */
    font-weight: 300;

}

.instructors .instructor .i-bio .i-name {
    line-height: 1.5;
    color: rgb(94, 88, 96);
    margin-bottom: 15px;
}

.instructors .instructor .i-name {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    margin-top: 10px;
    display: block;
    width: 100%;
}

.instructors .instructor .i-rating {
    color: var(--green);
    margin: 10px 0;
    display: block;
}
.instructors .instructor .i-rating *{
    margin-right: 5px
}

.instructors .instructor .i-social {
    /* border-top: 1px solid #e6e6e6; */
    margin-top: 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.instructors .instructor .i-social {
    margin-left: 0;
}

.instructors .instructor .i-social .media {
    border-radius: 32px;
    transition: all .5s ease;
}

.instructors .instructor .i-social .media a {
    padding: 7px 14px;
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
    color: var(--green);
}

.instructors .instructor .i-social .media:hover {
    box-shadow: 0 5px 20px -5px rgba(34, 65, 18, 0.45);
}

.instructors .instructor .i-social .media:nth-child(1) {
    color: #3a68d9;
}

.instructors .instructor .i-social .media:nth-child(2) {
    color: #3ed8f9;
}

.instructors .instructor .i-social .media:nth-child(3) {
    color: #49b0d9;
}

.instructors .instructor .i-social .media:nth-child(4) {
    color: #ff43a0;
}

.instructors .instructor .i-social span {
    color: #a5b5c1;
    font-size: 14px;
}


/* Payment section */
.payment_section {
    color: #333;
    background: #fff;
    height: 100vh;
    width: 40vw;
    position: fixed;
    top: 0;
    right: -40vw;
    z-index: 9;
    transition: right .5s ease;
    overflow-y: auto;
}

.payment_section .pad {
    padding: 5vh 5vw;
}

.payment_section.active {
    right: 0;
}

.payment_section .payment label {
    margin-bottom: 15px;
    font-size: 16px;
    letter-spacing: .5px;
}

.payment_section .payment #mail-sub {
    width: 100%;
    height: 54px;
    padding: 0 15px;
    line-height: 54px;
    color: #fff;
    letter-spacing: .5px;
    border-radius: 50px;
    font-size: 14px;
    background: none;
    box-shadow: none;
    border: 2px solid #fff;
}

.payment_section .payment #mail-sub:focus {
    box-shadow: 0 5px 75px -15px #000 !important;
}

.payment_section .payment ::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #fff;
    letter-spacing: .5px;
}

.payment_section .payment :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #fff;
    opacity: 1;
    letter-spacing: .5px;
}

.payment_section .payment ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #fff;
    opacity: 1;
    letter-spacing: .5px;
}

.payment_section .payment :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #fff;
    letter-spacing: .5px;
}

.desc-pane {
    background: #000;
    display: block;
}

.desc-pane .title {
    color: #ebe70b;
    font-weight: 700;
    line-height: 15px;
}

.desc-pane .desc {
    margin-right: 10px;
    margin-top: 10px;
    font-size: 12px;
    color: #c7c2c2
}

.desc-pane .about {
    /* width: 70%; */
    padding: 5vh 5vw;
}

.desc-pane .price {
    font-size: 45pt;
    font-weight: bold;
    color: #ebe70b;
    /* padding: 30px; */
    display: inline-block;
}

.form-pane {
    padding-left: 30px;
    padding-bottom: 50px
}

.sm-section-r {
    color: #333;
    background: #fff;
    height: 100vh;
    width: 40vw;
    position: fixed;
    top: 0;
    right: -40vw;
    z-index: 9;
    transition: right .5s ease;
    overflow-y: auto;
}

.sm-section-r .pad {
    padding: 5vh 5vw;
}

.full-section-r {
    color: #333;
    background: #fff;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    right: -105vw;
    z-index: 9;
    transition: right .5s ease;
    overflow-y: auto;
}

.sm-section-r.active, .full-section-r.active {
    right: 0;
}

.social.hung {
    text-align: right;
}
.social.hung .toggle_icon {
    /*color: #0a243e !important;*/
    margin-right: 5px;
    overflow: hidden;
    border-radius: 30px;
    text-align: center;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    /*width: 30px;*/
    /*height: 30px;*/
    transition: all .5s ease-in;
    display: inline-block;
    vertical-align: middle;
    padding: 5px 10px;
    position: relative;
}

.social.hung .toggle_icon:hover {
    width: auto;
    background: var(--green-dark);

}

.social.hung .toggle_icon .text {
    margin-left: 5px;
    font-size: 12px;
    opacity: 0;
    position: absolute;
    right: -15px
}

.social.hung .toggle_icon:hover .text {
    position: relative;
    opacity: 1;
    right: 0;
    transition: all .5s ease-in;

}

@media all and (min-width: 992px) and (max-width: 1200px) {
    .payment_section, .sm-section-r {
        width: 80vw;
        right: -85vw;
    }

    .full-section-r {
        width: 100vw;
        right: -105vw;
    }
}

@media all and (max-width: 991px) {
    .payment_section, .sm-section-r {
        width: 100vw;
        right: -105vw;
    }
}

@media all and (max-width: 767px) {
    .payment_section .title {
        font-size: 36px;
    }
}

@media all and (max-width: 991px) {
    .payment_section, .sm-section-r {
        width: 100vw;
        right: -105vw;
    }
}

.popular-course-deck {
    position: fixed;
    display: block;
    height: auto;
    width: 50%;
    background: rgba(33, 33, 33, 1);
    /* bottom: -45vh; */
    /*bottom: 0;*/
    left: 25%;
    right: 25%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    z-index: 1;
    text-align: center;
    padding-top: 20px;
    font-weight: bolder;
    color: white;
    transition: all .74s ease-in-out;
    margin: 0;
    opacity: .75;
}

.popular-course-deck:hover {
    bottom: 0;
    opacity: 1;
    box-shadow: 0 0 45px 10px rgba(0, 0, 0, 0.56);
    border-top: 2px var(--green) solid;
    border-left: 2px var(--green) solid;
    border-right: 2px var(--green) solid;
}

@media screen and (min-width: 600px) {
    .popular-course-deck {
        margin: 0 15px;
        left: 20%;
        right: 20%;
        width: 60%;
        bottom: -60vh;
    }
}

@media screen and (max-width: 600px ) {
    .popular-course-deck {
        width: auto;
        left: 0;
        right: 0;
        margin: 0 15px;
        /* bottom: -57vh; */
        bottom: 0;
        box-shadow: 0 0 45px 10px rgba(0, 0, 0, 0.56);
        border-top: 2px var(--green) solid;
        border-left: 2px var(--green) solid;
        border-right: 2px var(--green) solid;
        opacity: 1;
    }
}


/* Countdown */
.is-countdown {
    margin: 70px 0 72px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    background-color: transparent;
    overflow: hidden;
}

.countdown-row {
    clear: both;
    width: 100%;
    padding: 0 2px;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content: center;

}

[class*="countdown-show"] .countdown-section {
    width: 24.5%;
    float: left;
    margin-bottom: 0;
    border-right: 1px solid rgba(255, 255, 255, 0.35);
    display: block;
    font-size: 16pt;
    text-align: center;
}

.countdown-section:last-of-type {
    border: none;
}

.countdown-amount {
    white-space: nowrap;
    font-size: 150%;
    font-weight: 100;
    line-height: 1.05em;
    font-family: 'Roboto', sans-serif;
}

.countdown-period {
    font-size: 50%;
    color: #c1c1c1;
    display: block;
}


@media (max-width: 769px) {
    .countdown {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        display: inline-block;
        border-radius: 20px
    }

    .countdown-show4 .countdown-section {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (min-width: 769px) {

    .is-countdown {
        margin: 0;
        padding-left: 2%;
    }

    .countdown-row {
        padding: 0;
    }
}

/* --------__Countdown----------- */

.header-text {
    line-height: 52px;
    text-overflow: ellipsis;
    font-stretch: 100%;
    font-weight: 700;
    margin-bottom: 20px;
    color: currentColor;
    letter-spacing: 1px
}

.bold {
    font-weight: 700
}


.course-banner {
    object-fit: contain;
    object-position: center;
    min-height: 100px;
    background: #f6f6f6;
    position: relative;
    overflow: hidden;

}

.course-banner img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    object-fit: cover;
    object-position: center;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: #e6e6e6;
}

.pad-section {
    padding: 5% 10%;
}

.course_tab {
    background: #fff;
    border-bottom: 1px solid #f1f2f3;
    color: #888;
}

.course_tab .nav-item .nav-link {
    padding: 30px 30px;
    border: none;
    color: currentColor;
}

.course_tab .nav-item .nav-link.active {
    color: var(--green);
    border-bottom: 2px solid var(--green);
    font-weight: bold
}

.course_tab_content {
    background: #f6f6f6;
    color: #333;
}

.course-header {
    padding: 2.5% 10%;
    /* border-left: 6px solid #f1f2f3; */
    /* border-right: 6px solid #f1f2f3; */
    border-bottom: 1px solid #eee;
    background: var(--green);
    filter: contrast(90%);
    display: block;
}

.course-header .course-title {
    display: block;
}

.course-header .course-cta {
    display: block;
    margin-top: -25px
}

.course-hero {
    padding: 15% 10% 10%;
    object-fit: fill;
    overflow: hidden;
    position: relative;
    /*height: 300px;*/
    background: var(--green);
}

.course-hero .cover-img img {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

@media (max-width: 500px) {
    .course-hero .cover-img img {
        height: 100%;
        width: auto;
    }
}
.course-hero .cover-img .overlay:before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: ' ';
    opacity: .73;
    left: 0;
    top: 0;
    z-index: 1;
}

.course-hero .cover-img .overlay.dark:before {
    background: black
}

.course-hero .cover-img .overlay.light:before {
    background: white;
}

.course-hero .hero-content {
    z-index: 2;
    position: relative;
}


/* sign-form */

.sign-form {
    margin: 10% 2%;
    color: #d6d6d6;
}

.sign-form .sign-form-header {
    color: currentColor;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: normal;
    text-transform: uppercase;
}

.sign-form.out .sign-form-header {
    background-color: #f6f6f6;
}

.sign-form.out {
    background: #fff;
    border-radius: 4px;
    border: 1px solid #d6d6d6;
    overflow: hidden;
    color: hsl(0, 0%, 76%);
}


.sign-form.out .sign-form-content {
    padding: 5% 10%;

}

.sign-form .sign-form-content {
    color: rgb(194, 194, 194);
    padding: 5% 2%;
    position: relative;
    overflow: hidden;
}

@media (max-width: 569px) {
    .sign-form.out .sign-form-content {
        padding: 2.5% 5%;
    }

    .pad-section {
        padding: 10% 5%;
    }
}

.form-control {
    border-radius: 4px;
    padding: 20px 25px;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    background: #f6f6f6;
    color: rgb(194, 194, 194);
    border: 1px solid #d6d6d6;
}

.custom-input{
    display: inline-block;
}
.custom-input label{
    display: block;
}
.custom-select-box {
    /* width: 100%; */
    /* display: inline-block; */
    font-size: 14px;
    overflow: hidden;
    border-radius: 4px;
    padding: 10px 15px;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    background: #f6f6f6;
    border: 1px solid #d6d6d6;
    color: rgb(194, 194, 194);
    position: relative;
}

.custom-select-box select {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    color: currentColor;
    margin-right: 30px;
    cursor: default;
}

.custom-select-box:after {
    position: absolute;
    right: 10px;
    width: 20px;
    height: 20px;
    color: #888;
    top: 0;
    margin-top: 10px;
    content: '\f107';
    font-family: var(--font-awesome)
}

.custom-select-box select:focus {
    outline: none;
}



.sign-form .sign-form-content .form-control:focus {
    padding-left: 30px;
    background-color: #fff;
    color: #333333 !important;
    border-color: var(--green);
}


.sign-form .sign-form-content .form-control::placeholder {
    color: rgb(194, 194, 194);
    opacity: 1;

}

.sign-form .sign-form-content select.form-control{
    padding: 10px 20px;
    height: 45px;

}
.sign-form .sign-form-content textarea.form-control {
    /* border-radius: 2px; */
    position: relative;
    overflow: hidden;
}
.toggle_btn {
    background: rgba(255, 255, 255, .35);
    padding: 7px;
    margin-top: -10px;
    position: relative;
    top: -10px;
    border-radius: 50%;
    font-size: 20px;
    color: #333
}

.toggle_btn:focus,
.toggle_btn:hover {
    background: rgba(255, 255, 255, 1);
}


.course-tab {
    /* background: red; */
    border-bottom: 1px solid #f1f2f3;
}

.course-tab .nav-item {
    border: none;
}

.course-tab .nav-item .nav-link {
    padding: 20px 30px;
    border: none;
}

.course-tab .nav-item .nav-link.active {
    border-bottom: 4px solid var(--green);
    color: var(--green)
}

.cc-set {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.cc-group {
    display: flex;
    flex-flow: row nowrap;
    width: auto;
    align-items: flex-start;
    position: relative;
    margin-bottom: 25px;
    background: transparent;
    font-size: 18px;
    line-height: 1.5;
    color: #a6a6a6;
    letter-spacing: 9px;
    z-index: 1;
    padding: 0 20px;
    border-radius: 20px;
    border: 1px solid #d6d6d6;
}

.cc-group label {
    font-size: 12px;
    float: left;
    width: 100%;
    display: block;
    margin-bottom: 5px;
}

.cc-group .cc-input {
    background: transparent;
    padding: 10px 0;
    font-size: 18px;
    border: none;
    color: #d6d6d6;
    width: auto;
    z-index: 2;
    position: relative;
    display: inline-block;
}

.cc-group .cc-num {
    width: calc(100% / 4);
}

.cc-group .cc-input::placeholder {
    font-size: 14px;
    vertical-align: middle;
    color: #d6d6d6;
    text-align: left;
    line-height: 30px;
}

.cc-group .cc-input:focus {
    outline: none;
    color: #232225;
}

.cc-group .cc-input:focus::placeholder {
    color: transparent;
}

.cc:first-of-type {
    margin-top: 32px;
}

footer {
    background: white;
    padding: 20px;
}

.course-widget {
    background-color: #f4f4f4;
    margin-bottom: 10%;
    border: 1px solid #fff;
    padding: 5% 10%;
    display: block;
}

.course-tile {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: flex-start;
    width: 100%;
    position: relative;
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 2px 0 rgba(0, 0, 0, .05);
    overflow: hidden;
    background: white;
    object-fit: cover;
    object-position: center;
    min-height: 60px;
    border: 1px solid #e6e6e6;
    margin-bottom: 30px;
    transition: all .35s ease-in-out;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


.course-tile:hover {
    border: 1px solid #f4f4f4;
}
.course-tile .course-progress{
    position: relative;
    overflow: hidden;
    height: 5px;
    background: #f4f4f4;
    width: 100%;
}
.course-tile .course-progress .value{
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: var(--green);
    background: linear-gradient(to right, hsla(120, 100%, 30%, 1), hsla(120, 100%, 90%, .1));
    border-radius: 5px;
}

.course-tile .progress-value{
    position: absolute;
    color: var(--yellow);
    right: 30px;
    bottom: 15px;
}
.course-tile .course-icon {
    background: #f6f6f6;
    width: 30%;
    object-fit: cover;
    object-position: center;
    position: relative;
    overflow: hidden;
    transition: all .35s ease-in-out;
}
.course-tile .course-icon img{
    position: absolute;
    object-fit: cover;
    object-position: center;
    width:  100%;
    height: 100%;
    left: 0;
    right: 0;
    transition: all .35s ease-in
}

.course-tile:hover .course-icon img {
    transform: scale(1.1);
}

.course-tile .course-info{
    width: 70%;
    display: flex;
    flex-flow: column wrap;
    justify-content: stretch;
    align-content: stretch;
    align-items: stretch;
    position: relative;
    overflow: hidden;
    transition: all .35s ease-in-out;
}
.course-tile .course-info .title{
    font-size: 150%;
    font-weight: 400;
    line-height: 1.75;
    padding: 15px 15px 15px 30px;
    border-bottom: 1px solid #eee;
}
.course-tile .course-info .course-content{
    padding-top: 5px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    background: #fff;
    flex: auto;
    color: #888
}

.course-tile .course-info .course-content p{
    font-size: 14px;
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
    line-height: 2em;
    /*-ms-text-overflow: -o-ellipsis-lastline;*/
    /*text-overflow: -o-ellipsis-lastline;*/
}
.course-tile .course-info .course-content p:after{
    content: ' ';
    text-align: right;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 300px;
    height: 6em;
    background: linear-gradient(to top, rgba(255, 55, 255, .5), rgba(255, 255, 255, 1) 50%);
}
@media (max-width: 500px){
    .course-tile .course-icon {
        width: 5%;
    }

    .course-tile .course-info {
        width: 95%;
    }
}

.other_courses {
    padding: 15px;
}

.course-column {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 2px 0 rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, .1);
    margin-bottom: 15px
}

.block {
    display: block;
}

.course-column {
    position: relative;
    overflow: hidden;
}

.course-column .course-icon {
    background: #f4f4f4;
    width: 100%;
    object-fit: cover;
    object-position: center;
    position: relative;
    overflow: hidden;
    transition: all .35s ease-in-out;
    min-height: 150px;
    /* padding: 15px 10px; */
}

.course-column .course-icon img {
    background: #f4f4f4;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    align-content: center;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    color: #d6d6d6;
    transition: all .35s ease-in-out;
}

.course-column .course-icon:hover img {
    transform: scale(1.1);
}

.course-column .course-content {
    padding: 15px 15px 60px
}

.course-column .course-icon .course-price {
    position: absolute;
    right: 5px;
    background: var(--green-overlay);
    width: 20%;
    height: auto;
    top: 0;
    z-index: 10;
    padding: 7px;
    text-align: center;
    color: white;
    font-size: 1.5em;
    padding-bottom: 10px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 2px 7px -2px #39853c;
    border: 1px solid white;
    border-top: none;
}

.course-column .course-icon .course-price:before {
    position: relative;
    margin-right: 5px;
    font-size: 12px;
    content: '\20A6';
}

.course-column .course-content .item {
    display: inline-block;
    margin-right: 5px;
    color: hsl(0, 0%, 51%)
}

.course-column .course-content .title {
    font-size: 16px;
    color: var(--green)
}

.course-column .progress-value {
    position: absolute;
    bottom: 15px;
    right: 15px;
    color: var(--green);
}
.relative{
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    object-fit: contain;
}
.suspend{
    position: fixed;
    z-index: 222;
    width: 30%;
    height: 100%;
    overflow: hidden;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    background: white;
}

.suspend-right{
    margin-left: 30.5%;
}

@media (max-width: 1027px){
    .pad-section {
        padding: 10% 7%;
    }

    .suspend {
        position: relative;
        margin-bottom: 30px;
        width: 100%;
        padding: 15% 10% 10%
    }

    .suspend-right {
        margin-left: 0;
    }
}


*:hover>.swipe-in{
    left: 0;
    z-index: 10;
}
.swipe-in{
    position: absolute;
    top: 0;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: center;
    height: 100%;
    width: 100%;
    left: -100%;
    overflow: hidden;
    background: hsla(0, 0%, 100%, .75);
    filter: blur(50%);
    transition: all .35s ease-in-out;
    padding: 0 10%;
    border: 1px var(--green-overlay) solid;
}

.readmore{
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 5px;
    width: 100%;
}

.readmore a {
    padding: 10px 20px 5px;
    background: transparent;
    margin-right: 10px;
    box-shadow: 0 6px 45px -10px #cacaca;
    border: 1px solid currentColor;
    border-radius: 30px;
    display: block;
    vertical-align: middle;
    line-height: 2;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: normal;
    text-transform: capitalize;
    transition: all 0.3s ease-out;
    color: #333;
    text-align: center;
}
.readmore a:hover{
    background: #fff;
    color: var(--green) !important;
    box-shadow: 0 2px 0 -2px white;
}


.to-right{
    float: right;
}
.to-left{
    float: left;
}


.above{
    position: fixed;
}

fieldset{
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 20px auto
}
legend{
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f6f6f6
}
label{
    text-transform: capitalize;
    color: #a6a6a6;
}

select option {
    text-transform: capitalize;
}
.module-widget {
    background-color: #fafafa;
    padding: 5% 10%;
    display: block;
}

.module-tile {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: flex-start;
    width: 100%;
    position: relative;
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 2px 0 rgba(0, 0, 0, .05);
    overflow: hidden;
    background: white;
    object-fit: cover;
    object-position: center;
    min-height: 120px;
    border: 1px solid #f4f4f4;
    /* margin-bottom: 30px; */
    transition: all .35s ease-in-out;
    /* border-radius: 9px */
}
.module-tile:hover {
    border: 1px solid #e6e6e6;
}
.module-tile .module-icon {
    background: rgba(0,0,0,.02);
    width: auto;
    object-fit: cover;
    object-position: center;
    position: relative;
    overflow: hidden;
    transition: all .35s ease-in-out;
    font-size: 3rem;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    padding: 10px 20px;
    color: rgb(205, 222, 212)
}
.module-tile .module-icon img{
    position: absolute;
    object-fit: cover;
    object-position: center;
    width:  100%;
    height: 100%;
    left: 0;
    right: 0;
}

.module-tile .module-info{
    width: 55%;
    display: flex;
    flex-flow: column wrap;
    justify-content: stretch;
    align-content: stretch;
    align-items: stretch;
    position: relative;
    overflow: hidden;
    transition: all .35s ease-in-out;
    color: #333;
}

.module-tile .module-btn{
    /* width: 15%; */
    padding-left: 20px
}
.module-tile .module-info .title{
    font-size: 120%;
    font-weight: 300;
    line-height: 1.5;
    padding-left:20px;
    padding-top:20px;
}
.module-tile .module-info .module-content{
    padding-top: 20px;
    padding-left: 20px;
    background: #fff;
    flex: auto;
}
.module-tile .module-progress{
    position: relative;
    overflow: hidden;
    height: 4px;
    background: #f4f4f4;
    width: 100%;
}
.module-tile .module-progress .value{
    position: absolute;
    left: -100%;
    bottom: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: var(--yellow);
    border-radius: 4px;
}

.module-tile .progress-value{
    position: relative;
    color: var(--yellow);
    left: 20px;
    /* top: 20px; */
}

.advert {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.advert .ad-card {
    object-position: center;
    object-fit: cover;
    background: #e6e6e6;
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;
    color: #c6c6c6;
    height: 250px;
}

.advert.portrait .ad-card {
    height: 250px;
}

.advert.landscape .ad-card {
    height: 150px;
}

.advert .ad-card:after {
    content: 'PLACE ADVERT HERE';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    color: currentColor;
    z-index: 10;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.advert .ad-card.sm {
    width: 250px;
}

.advert .ad-card.lg {
    width: 100%;
}

.advert .ad-card img {
    position: absolute;
    object-fit: cover;
    object-position: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    color: #e6e6e6;
}
