/* Required height of parents of the Full Page Carousel for proper displaying carousel itself */
html,
body,
.view {
  height: 100%; 
} 

*{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.padding-2 {
  padding: 2px;
}

.padding-5 {
  padding: 5px;
}

.margin-5 {
  margin: 5px;
}

.margin-15 {
  margin: 15px;
}

.border-1 {
  border: 1px solid black;
  border-radius: 7px;
  background: gray;
  box-shadow: 4px 5px 12px black;
}

.border-blue {
  border: 1px solid #00aeff;
  border-radius: 7px;
  background: #f0faff;
  box-shadow: 2px 3px 5px #b1e7ff;
}

.centered {
  text-align: center;
}

.text-20 {
  font-size: 20px;
}

.bolden {
  font-weight: bolder;
}

.pass-btn { 
  -webkit-writing-mode: horizontal-tb !important;
  margin: 2px;
  text-rendering: auto;
  color: buttontext;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: pointer;
  background-color: #81D4FA;
  box-sizing: border-box;
  margin: 2px;
  font: 400 15.3333px Arial;
  padding: 1px 6px;
  border-width: 1px;
  border-style: none;
  border-radius: 7px;
  box-shadow: 2px 3px 6px #00000052;
}

.pass-btn:hover {
  box-shadow: 1px 2px 3px #00000052;
}

.pass-btn:active {
  box-shadow: 2px 3px 5px #00000052;
}

.notice {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.primary-color {
  color: #004085!important;
}

.secondary-color {
  color: #383d41!important;
}

.primary-notice {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}

.primary-notice hr {
  border-top-color: #9fcdff;
}

.primary-notice .notice-link {
  color: #002752;
}

.secondary-notice {
  color: #383d41;
  background-color: #e2e3e5;
  border-color: #d6d8db;
}

.secondary-notice hr {
  border-top-color: #c8cbcf;
}

.secondary-notice .notice-link {
  color: #202326;
}

.success-notice {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.success-notice hr {
  border-top-color: #b1dfbb;
}

.success-notice .notice-link {
  color: #0b2e13;
}

.info-notice {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.info-notice hr {
  border-top-color: #abdde5;
}

.info-notice .notice-link {
  color: #062c33;
}

.warning-notice {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.warning-notice hr {
  border-top-color: #ffe8a1;
}

.warning-notice .notice-link {
  color: #533f03;
}

.danger-notice {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.danger-notice hr {
  border-top-color: #f1b0b7;
}

.danger-notice .notice-link {
  color: #491217;
}

.light-notice {
  color: #818182;
  background-color: #fefefe;
  border-color: #fdfdfe;
}

.light-notice hr {
  border-top-color: #ececf6;
}

.light-notice .notice-link {
  color: #686868;
}

.dark-notice {
  color: #1b1e21;
  background-color: #d6d8d9;
  border-color: #c6c8ca;
}

.dark-notice hr {
  border-top-color: #b9bbbe;
}

.dark-notice .notice-link {
  color: #040505;
}

.inline-blk {
  display: -webkit-inline-block;
  display: -moz-inline-block;
  display: inline-block;
}

.image_class {
  width: 200px;
  height: auto;;
  padding: 3px;
  margin: 3px;
  border-radius: 12px;
}

.news-slider {
  display: inline-table;
  width: 250px;
}