<!--Head section-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="description" content="{$description}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">
    <title>{$site_title} | {$page_title}</title>
    <!-- Shortcut Icon -->
    <link rel="shortcut icon" href="{$site_url}/{$template_path}/{$template_name}/favicon.png">
    <!-- Your custom styles (optional) -->
    <link href="{$site_url}/{$template_path}/{$template_name}/css/pure-min.css" rel="stylesheet" type="text/css">
    <link href="{$site_url}/{$template_path}/{$template_name}/css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{$site_url}/{$template_path}/{$template_name}/css/lightbox.css">
    <link rel="stylesheet" href="{$site_url}/{$template_path}/{$template_name}/css/vegas.min.css">
    <link rel="stylesheet" href="{$site_url}/{$template_path}/{$template_name}/css/style0.css">
    <!--JQuery  -->
    <!-- <script type="text/javascript" src="{$site_url}/{$template_path}/{$template_name}/js/jquery.min.js"></script> -->
    <!--/.Head section-->
    <script type="text/javascript">
        siteUrl = '{$site_url}';
    </script>
  </head>
  <body>
    {$content}
    <!-- Scripts -->
    <script type="text/javascript" src="{$site_url}/{$template_path}/{$template_name}/js/jquery.min.js"></script>
    <!-- Popper -->
    <!-- <script type="text/javascript" src="{$site_url}/{$template_path}/{$template_name}/js/popper.min.js"></script> -->
    <!-- Bootstrap -->
    <script type="text/javascript" src="{$site_url}/{$template_path}/{$template_name}/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{$site_url}/{$template_path}/{$template_name}/js/contact.js"></script>
    <script type="text/javascript" src="{$site_url}/{$template_path}/{$template_name}/js/validator.js"></script>
    <script type="text/javascript" src="{$site_url}/{$template_path}/{$template_name}/js/vegas.min.js"></script>
    <script type="text/javascript" src="{$site_url}/{$template_path}/{$template_name}/js/lightbox.js"></script>
    <script type="text/javascript" src="{$site_url}/{$template_path}/{$template_name}/js/script.js"></script>
    <script type="text/javascript" src="{$site_url}/{$template_path}/{$template_name}/js/jquery.plugin.min.js"></script>
    <script type="text/javascript" src="{$site_url}/{$template_path}/{$template_name}/js/jquery.countdown.min.js"></script>
    <!--custom javascript-->
    <script type="text/javascript" src="{$site_url}/{$template_path}/{$template_name}/js/custom.js"></script>
    <!--Vegas -->
    <script>
      $(".vegas").vegas({
        slides: [
          {src: "img/slideshow1.jpg"},
          {src: "img/slideshow2.jpg"},
          {src: "img/slideshow3.jpg"}
        ]
      });
    </script>
  </body>
</html>